body {
	font-family: 'Henny Penny', cursive;
	background-color: #d9edd9;
	color: #258f6a;
	text-align: center;
}

.wrapper {
    max-width: 600px;
    max-height: 600px;
}
.grid {
	background-color: #d9edd9;
	grid-gap: 1em;
	margin: 0 0 2em 0;

}

.grid div {
	background-color:transparent;
}

.nice-image{
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.book{
	margin-top: 2em;
}

.book h2{
	margin-left: 0;
	font-family: 'Henny Penny', cursive;
	font-weight: 2000;
	font-size: 2em;
}

.book-nav {
	text-align: center;
}

.book-nav a {
	background-color: transparent;
}

.credits {
	margin-left: 1em;
}

.book .width-12-12 {
	background-color: #d9edd9;
	color: #258f6a;
}