body {
	font-family: 'Dancing Script', cursive;
}

.wrapper {
    max-width: 600px;
}
.grid {
	background-color: #d6d6d6;
	grid-gap: 1em;
	margin: 0 0 2em 0;

}

.grid div {
	/*background-color:rgba(0,0,0,0.1);*/
}

.nice-image{
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.book{
	margin-top: 2em;
}

.book h2{
	margin-left: 1em;
	font-family: 'Dancing Script', cursive;
	font-weight: 2000;
	font-size: 2em;
}

.book-nav {
	text-align: center;
}

.book-nav a {
	background-color: transparent;
}

.credits {
	margin-left: 1em;
}

.book .width-12-12 {
	background-color: #000;
	color: #d6d6d6;
}